Cesa Garcia Data Science Exercise

In [15]:
# Import libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [2]:
# Dataset read into DataFrame

df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
# Function for NaN and create deck column from cabin

def getDeck(cabin):
    if pd.notna(cabin):
        return cabin[0]
    else:
        return np.nan

df['Deck'] = df['Cabin'].apply(getDeck)

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Deck
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,NaN
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,NaN
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,C
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,NaN

In [5]:
# Set up data
X = df.drop(['Survived'], axis=1)
y = df['Survived']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

# X_train = X_train.copy()
# X_test = X_test.copy()
# y_train = y_train.copy()
# y_test = y_test.compy()

In [6]:
# Impute Age with mean
feat = ['Age']
impage = SimpleImputer(missing_values=np.nan, strategy='mean', fill_value=None)
imp = pd.DataFrame(impage.fit_transform(X_train[feat]), columns=['impAge'], index=X_train.index)
X_train = pd.concat([X_train, imp], axis=1)
X_train.head(10)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Deck,impAge
301,302,3,"McCoy, Mr. Bernard",male,NaN,2,0,367226,23.2500,NaN,Q,NaN,30.166232
309,310,1,"Francatelli, Miss. Laura Mabel",female,30.0,0,0,PC 17485,56.9292,E36,C,E,30.000000
516,517,2,"Lemore, Mrs. (Amelia Milley)",female,34.0,0,0,C.A. 34260,10.5000,F33,S,F,34.000000
120,121,2,"Hickman, Mr. Stanley George",male,21.0,2,0,S.O.C. 14879,73.5000,NaN,S,NaN,21.000000
570,571,2,"Harris, Mr. George",male,62.0,0,0,S.W./PP 752,10.5000,NaN,S,NaN,62.000000
730,731,1,"Allen, Miss. Elisabeth Walton",female,29.0,0,0,24160,211.3375,B5,S,B,29.000000
228,229,2,"Fahlstrom, Mr. Arne Jonas",male,18.0,0,0,236171,13.0000,NaN,S,NaN,18.000000
563,564,3,"Simmons, Mr. John",male,NaN,0,0,SOTON/OQ 392082,8.0500,NaN,S,NaN,30.166232
311,312,1,"Ryerson, Miss. Emily Borie",female,18.0,2,2,PC 17608,262.3750,B57 B59 B63 B66,C,B,18.000000
613,614,3,"Horgan, Mr. John",male,NaN,0,0,370377,7.7500,NaN,Q,NaN,30.166232

In [7]:
# Impute features with X for NaN
feats = ['Pclass', 'Sex', 'Deck']
impcat = SimpleImputer(missing_values=np.nan, strategy='constant', fill_value='X')
imps = pd.DataFrame(impcat.fit_transform(X_train[feats]), columns=['impPclass', 'impSex', 'impDeck'],index=X_train.index)
X_train = pd.concat([X_train, imps], axis=1)
X_train.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Deck,impAge,impPclass,impSex,impDeck
301,302,3,"McCoy, Mr. Bernard",male,NaN,2,0,367226,23.2500,NaN,Q,NaN,30.166232,3,male,X
309,310,1,"Francatelli, Miss. Laura Mabel",female,30.0,0,0,PC 17485,56.9292,E36,C,E,30.000000,1,female,E
516,517,2,"Lemore, Mrs. (Amelia Milley)",female,34.0,0,0,C.A. 34260,10.5000,F33,S,F,34.000000,2,female,F
120,121,2,"Hickman, Mr. Stanley George",male,21.0,2,0,S.O.C. 14879,73.5000,NaN,S,NaN,21.000000,2,male,X
570,571,2,"Harris, Mr. George",male,62.0,0,0,S.W./PP 752,10.5000,NaN,S,NaN,62.000000,2,male,X

In [8]:
# Encode imputed features OneHotEncoder
featsimp = ['impPclass', 'impSex', 'impDeck']
ohe = OneHotEncoder(sparse_output=False, dtype=int, handle_unknown='ignore')
imps_ohe = pd.DataFrame(ohe.fit_transform(X_train[featsimp]), columns=ohe.get_feature_names_out(), index=X_train.index)
X_train = pd.concat([X_train, imps_ohe], axis=1)
X_train.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,...,impSex_male,impDeck_A,impDeck_B,impDeck_C,impDeck_D,impDeck_E,impDeck_F,impDeck_G,impDeck_T,impDeck_X
301,302,3,"McCoy, Mr. Bernard",male,NaN,2,0,367226,23.2500,NaN,...,1,0,0,0,0,0,0,0,0,1
309,310,1,"Francatelli, Miss. Laura Mabel",female,30.0,0,0,PC 17485,56.9292,E36,...,0,0,0,0,0,1,0,0,0,0
516,517,2,"Lemore, Mrs. (Amelia Milley)",female,34.0,0,0,C.A. 34260,10.5000,F33,...,0,0,0,0,0,0,1,0,0,0
120,121,2,"Hickman, Mr. Stanley George",male,21.0,2,0,S.O.C. 14879,73.5000,NaN,...,1,0,0,0,0,0,0,0,0,1
570,571,2,"Harris, Mr. George",male,62.0,0,0,S.W./PP 752,10.5000,NaN,...,1,0,0,0,0,0,0,0,0,1

In [9]:
# Drop all features and keep only numeric and ohe
X_train.drop(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Deck', 'impPclass', 'impSex', 'impDeck'], axis=1, inplace=True)
X_train.head()

,impAge,impPclass_1,impPclass_2,impPclass_3,impSex_female,impSex_male,impDeck_A,impDeck_B,impDeck_C,impDeck_D,impDeck_E,impDeck_F,impDeck_G,impDeck_T,impDeck_X
301,30.166232,0,0,1,0,1,0,0,0,0,0,0,0,0,1
309,30.000000,1,0,0,1,0,0,0,0,0,1,0,0,0,0
516,34.000000,0,1,0,1,0,0,0,0,0,0,1,0,0,0
120,21.000000,0,1,0,0,1,0,0,0,0,0,0,0,0,1
570,62.000000,0,1,0,0,1,0,0,0,0,0,0,0,0,1

In [10]:
# Use LogisticRegression
lr = LogisticRegression(solver='liblinear')
lr.fit(X_train, y_train)

LogisticRegression(solver='liblinear')

In [11]:
# Now work with the test data
# Remember not to fit only transform on the test data
# Same steps as the training data

imp = pd.DataFrame(impage.transform(X_test[feat]), columns=['impAge'], index=X_test.index)
X_test = pd.concat([X_test, imp], axis=1)
X_test.head(10)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Deck,impAge
862,863,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S,D,48.000000
223,224,3,"Nenkoff, Mr. Christo",male,NaN,0,0,349234,7.8958,NaN,S,NaN,30.166232
84,85,2,"Ilett, Miss. Bertha",female,17.0,0,0,SO/C 14885,10.5000,NaN,S,NaN,17.000000
680,681,3,"Peters, Miss. Katie",female,NaN,0,0,330935,8.1375,NaN,Q,NaN,30.166232
535,536,2,"Hart, Miss. Eva Miriam",female,7.0,0,2,F.C.C. 13529,26.2500,NaN,S,NaN,7.000000
623,624,3,"Hansen, Mr. Henry Damsgaard",male,21.0,0,0,350029,7.8542,NaN,S,NaN,21.000000
148,149,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.5,0,2,230080,26.0000,F2,S,F,36.500000
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,C,35.000000
34,35,1,"Meyer, Mr. Edgar Joseph",male,28.0,1,0,PC 17604,82.1708,NaN,C,NaN,28.000000
241,242,3,"Murphy, Miss. Katherine ""Kate""",female,NaN,1,0,367230,15.5000,NaN,Q,NaN,30.166232

In [12]:
# Same steps as training data continue

imps = pd.DataFrame(impcat.transform(X_test[feats]), columns=['impPclass', 'impSex', 'impDeck'],index=X_test.index)
X_test = pd.concat([X_test, imps], axis=1)
X_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Deck,impAge,impPclass,impSex,impDeck
862,863,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S,D,48.000000,1,female,D
223,224,3,"Nenkoff, Mr. Christo",male,NaN,0,0,349234,7.8958,NaN,S,NaN,30.166232,3,male,X
84,85,2,"Ilett, Miss. Bertha",female,17.0,0,0,SO/C 14885,10.5000,NaN,S,NaN,17.000000,2,female,X
680,681,3,"Peters, Miss. Katie",female,NaN,0,0,330935,8.1375,NaN,Q,NaN,30.166232,3,female,X
535,536,2,"Hart, Miss. Eva Miriam",female,7.0,0,2,F.C.C. 13529,26.2500,NaN,S,NaN,7.000000,2,female,X

In [13]:
# Encode OneHotEncoder

imps_ohe = pd.DataFrame(ohe.transform(X_test[featsimp]), columns=ohe.get_feature_names_out(), index=X_test.index)
X_test = pd.concat([X_test, imps_ohe], axis=1)
X_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,...,impSex_male,impDeck_A,impDeck_B,impDeck_C,impDeck_D,impDeck_E,impDeck_F,impDeck_G,impDeck_T,impDeck_X
862,863,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,...,0,0,0,0,1,0,0,0,0,0
223,224,3,"Nenkoff, Mr. Christo",male,NaN,0,0,349234,7.8958,NaN,...,1,0,0,0,0,0,0,0,0,1
84,85,2,"Ilett, Miss. Bertha",female,17.0,0,0,SO/C 14885,10.5000,NaN,...,0,0,0,0,0,0,0,0,0,1
680,681,3,"Peters, Miss. Katie",female,NaN,0,0,330935,8.1375,NaN,...,0,0,0,0,0,0,0,0,0,1
535,536,2,"Hart, Miss. Eva Miriam",female,7.0,0,2,F.C.C. 13529,26.2500,NaN,...,0,0,0,0,0,0,0,0,0,1

In [14]:
# Keep numerical and ohe only
X_test.drop(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Deck', 'impPclass', 'impSex', 'impDeck'], axis=1, inplace=True)
X_test.head()

,impAge,impPclass_1,impPclass_2,impPclass_3,impSex_female,impSex_male,impDeck_A,impDeck_B,impDeck_C,impDeck_D,impDeck_E,impDeck_F,impDeck_G,impDeck_T,impDeck_X
862,48.000000,1,0,0,1,0,0,0,0,1,0,0,0,0,0
223,30.166232,0,0,1,0,1,0,0,0,0,0,0,0,0,1
84,17.000000,0,1,0,1,0,0,0,0,0,0,0,0,0,1
680,30.166232,0,0,1,1,0,0,0,0,0,0,0,0,0,1
535,7.000000,0,1,0,1,0,0,0,0,0,0,0,0,0,1

In [16]:
# Predict
y_pred = lr.predict(X_test)

print(metrics.accuracy_score(y_test, y_pred))

0.7821229050279329