Cesar Garcia Data Science

In [1]:
# DataFrames appending, dropping, filling

# Importing libraries
import numpy as np
import pandas as pd

In [4]:
# Create df

np.random.seed(0)
df1 = pd.DataFrame(data=np.random.normal(size=(2, 3)))
df2 = pd.DataFrame(data=np.random.normal(size=(2, 3)))

In [5]:
df1

          0         1         2
0  1.764052  0.400157  0.978738
1  2.240893  1.867558 -0.977278

In [6]:
df2

          0         1         2
0  0.950088 -0.151357 -0.103219
1  0.410599  0.144044  1.454274

In [7]:
# Append df1 and df2

df1.append(df2)

/var/folders/2c/n83jps3s6l36_lg9dl_v_5vm0000gn/T/ipykernel_3605/3886664652.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2)

          0         1         2
0  1.764052  0.400157  0.978738
1  2.240893  1.867558 -0.977278
0  0.950088 -0.151357 -0.103219
1  0.410599  0.144044  1.454274

In [8]:
# Append df1 and df2 newer

pd.concat([df1, df2])

          0         1         2
0  1.764052  0.400157  0.978738
1  2.240893  1.867558 -0.977278
0  0.950088 -0.151357 -0.103219
1  0.410599  0.144044  1.454274

In [9]:
# Ignore and reset the index

pd.concat([df1, df2], ignore_index=True)

          0         1         2
0  1.764052  0.400157  0.978738
1  2.240893  1.867558 -0.977278
2  0.950088 -0.151357 -0.103219
3  0.410599  0.144044  1.454274

In [10]:
# Create df with index id and series

np.random.seed(0)
df1 = pd.DataFrame(data=np.random.normal(size=(2, 3)), index=['X', 'Y'], columns=['aa', 'bb', 'cc'])
ser = pd.Series(data=np.random.normal(size=3), index=['aa', 'bb', 'cc'], name='Z')

In [11]:
df1

         aa        bb        cc
X  1.764052  0.400157  0.978738
Y  2.240893  1.867558 -0.977278

In [12]:
ser

aa    0.950088
bb   -0.151357
cc   -0.103219
Name: Z, dtype: float64

In [14]:
# Append series

df1.append(ser)

/var/folders/2c/n83jps3s6l36_lg9dl_v_5vm0000gn/T/ipykernel_3605/859782499.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(ser)

         aa        bb        cc
X  1.764052  0.400157  0.978738
Y  2.240893  1.867558 -0.977278
Z  0.950088 -0.151357 -0.103219

In [24]:
# Create df different rows and columns names

np.random.seed(0)
df1 = pd.DataFrame(data=np.random.normal(size=(2,3)), index=['X', 'Y'], columns=['aa', 'bb', 'cc'])
df2 = pd.DataFrame(data=np.random.normal(size=(2,3)), index=['Z', 'W'], columns=['aa', 'bb', 'dd'])

In [28]:
df1

         aa        bb        cc
X  1.764052  0.400157  0.978738
Y  2.240893  1.867558 -0.977278

In [29]:
df2

         aa        bb        dd
Z  0.950088 -0.151357 -0.103219
W  0.410599  0.144044  1.454274

In [31]:
# Concat df1 and df2. Display NaN for non combinations
pd.concat([df1, df2])

         aa        bb        cc        dd
X  1.764052  0.400157  0.978738       NaN
Y  2.240893  1.867558 -0.977278       NaN
Z  0.950088 -0.151357       NaN -0.103219
W  0.410599  0.144044       NaN  1.454274

In [4]:
# Create DataFrame with named index and columns
np.random.seed(0)
df = pd.DataFrame(np.random.randint(-100, 100, (4,5)), index=['W','X','Y','Z'], columns = ['A','B','C','D','E'])
df

    A   B   C   D   E
W  72 -53  17  92 -33
X  95   3 -91 -79 -64
Y -13 -30 -12  40 -42
Z  93 -61 -13  74 -12

In [5]:
# Search for items in DataFrame
df[df > 0]

      A    B     C     D   E
W  72.0  NaN  17.0  92.0 NaN
X  95.0  3.0   NaN   NaN NaN
Y   NaN  NaN   NaN  40.0 NaN
Z  93.0  NaN   NaN  74.0 NaN

In [6]:
# Search DataFrame in specific column
df['D'] > 0

W     True
X    False
Y     True
Z     True
Name: D, dtype: bool

In [16]:
# Get rows from DataFrame that satisfies the condition from column D and drop others
# Remember to us & and | or

df[(df['D'] > 0) & (df['D']%4==0)]

    A   B   C   D   E
W  72 -53  17  92 -33
Y -13 -30 -12  40 -42

In [21]:
# Create series to work on missing data
# Note index is a list in parentheses when return is comma separated

ser = pd.Series(data=[1,2,3,None,5,6,np.nan,8], index=list('abcdefgh'))
ser

a    1.0
b    2.0
c    3.0
d    NaN
e    5.0
f    6.0
g    NaN
h    8.0
dtype: float64

In [24]:
# Is the element NaN
# NaN are not comparable

pd.isna(ser)
#pd.notna(ser)

a    False
b    False
c    False
d     True
e    False
f    False
g     True
h    False
dtype: bool

In [17]:
# Create DataFrame to drop missing data

df = pd.DataFrame(data=[[1,2,3,np.nan,5],
                        [6,np.nan,8,np.nan,10],
                        [np.nan,np.nan,np.nan,np.nan,np.nan],
                        [60,70,80,90,100]],
                  index=list('XYZW'),
                  columns=list('abcde'))

df

      a     b     c     d      e
X   1.0   2.0   3.0   NaN    5.0
Y   6.0   NaN   8.0   NaN   10.0
Z   NaN   NaN   NaN   NaN    NaN
W  60.0  70.0  80.0  90.0  100.0

In [31]:
# Drop rows or columns with NaN
# rows or 0, columns or 1

df.dropna(axis='rows', how='any')

      a     b     c     d      e
W  60.0  70.0  80.0  90.0  100.0

In [39]:
# Thresh minimum number of items that contains data
# Add inplace=True to keep changes

df.dropna(axis='rows', thresh=3)

      a     b     c     d      e
X   1.0   2.0   3.0   NaN    5.0
Y   6.0   NaN   8.0   NaN   10.0
W  60.0  70.0  80.0  90.0  100.0

In [41]:
# Fill NaN with the mean of columns

df.fillna(df.mean())

           a     b          c     d           e
X   1.000000   2.0   3.000000  90.0    5.000000
Y   6.000000  36.0   8.000000  90.0   10.000000
Z  22.333333  36.0  30.333333  90.0   38.333333
W  60.000000  70.0  80.000000  90.0  100.000000

In [46]:
# Fill NaN with the mean on specific columns

df.fillna(value=df.mean()[['b','d']])

      a     b     c     d      e
X   1.0   2.0   3.0  90.0    5.0
Y   6.0  36.0   8.0  90.0   10.0
Z   NaN  36.0   NaN  90.0    NaN
W  60.0  70.0  80.0  90.0  100.0

In [52]:
# Isolate specific column and fill NaN with the mean

df['b'].fillna(value=df['b'].mean())

X     2.0
Y    36.0
Z    36.0
W    70.0
Name: b, dtype: float64