Cesar Garcia
Data Science

In [1]:
#import libraries
import numpy as np
import pandas as pd

In [2]:
# Create dataframe with repeated indexes 
df1 = pd.DataFrame(np.arange(0,9).reshape(3,3),
                   index="R1 R2 R3".split(),
                   columns="C2 C3 C4".split())
df2 = pd.DataFrame(np.arange(10,19).reshape(3,3),
                   index="R2 R3 R4".split(),
                   columns="C2 C3 C4".split())

In [3]:
df1

    C2  C3  C4
R1   0   1   2
R2   3   4   5
R3   6   7   8

In [4]:
df2

    C2  C3  C4
R2  10  11  12
R3  13  14  15
R4  16  17  18

In [8]:
# Integrity check
pd.concat([df1, df2], axis=0, verify_integrity=True)

ValueError: Indexes have overlapping values: Index(['R2', 'R3'], dtype='object')

In [15]:
# Ignore index and create new
pd.concat([df1, df2], axis=0, ignore_index=True)

   C2  C3  C4
0   0   1   2
1   3   4   5
2   6   7   8
3  10  11  12
4  13  14  15
5  16  17  18

In [19]:
# Join inner only what matches
pd.concat([df1, df2], axis=1, join='inner')

    C2  C3  C4  C2  C3  C4
R2   3   4   5  10  11  12
R3   6   7   8  13  14  15

In [22]:
# create keys
df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'], 'value': np.random.randn(4)})
df2 = pd.DataFrame({'key': ['B', 'D', 'D', 'E'], 'value': np.random.randn(4)})

In [24]:
df1

  key     value
0   A -0.199037
1   B -0.977232
2   C  0.855551
3   D  0.425074

In [25]:
df2

  key     value
0   B -0.217348
1   D  0.434581
2   D -0.832930
3   E  0.796316

In [28]:
# Merge on keys index
pd.merge(df1, df2, how='outer', on='key')

  key   value_x   value_y
0   A -0.199037       NaN
1   B -0.977232 -0.217348
2   C  0.855551       NaN
3   D  0.425074  0.434581
4   D  0.425074 -0.832930
5   E       NaN  0.796316

In [30]:
# Make key the index
idf2 = df2.set_index('key')
idf2

        value
key
B   -0.217348
D    0.434581
D   -0.832930
E    0.796316

In [49]:
# Merge df1 and idf2 using left key value and right index
pd.merge(df1, idf2,  left_on='key', right_index=True)

  key   value_x   value_y
1   B -0.977232 -0.217348
3   D  0.425074  0.434581
3   D  0.425074 -0.832930