# Ex3 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [72]:
# Always import numpy and pandas together
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user')

### Step 3. Assign it to a variable called df and use the 'user_id' as index

In [73]:
# Read content from a link, sep by |, and index by column user_id. This create a dataframe
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep='|', index_col='user_id')

### Step 4. See the first 25 entries

In [74]:
# First 25 items printed
df.head(25)

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107

### Step 5. See the last 10 entries

In [75]:
# Last 10 items printed
df.tail()

         age gender     occupation zip_code
user_id
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

### Step 6. What is the number of observations in the dataset?

In [76]:
#Display two numbers. First amount of rows and second number of columns
df.shape[0]

943

### Step 7. What is the number of columns in the dataset?

In [77]:
# Display two numbers. First amount of rows and second number of columns
df.shape[1]

4

### Step 8. Print the name of all the columns.

In [78]:
#Print columns names
df.columns

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

### Step 9. How is the dataset indexed?

In [79]:
# Print labels of the index
df.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

### Step 10. What is the data type of each column?

In [80]:
# Display all data types of each column
df.dtypes

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

### Step 11. Print only the occupation column

In [81]:
# Print column contents and used df as convention
df['occupation']

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

### Step 12. How many different occupations are in this dataset?

In [82]:
# Output unique values
df.nunique()

age            61
gender          2
occupation     21
zip_code      795
dtype: int64

### Step 13. What is the most frequent occupation?

In [83]:
# Group and count items
df.value_counts()

age  gender  occupation  zip_code
28   M       student     55414       2
44   F       other       60630       2
17   M       student     60402       2
51   M       educator    20003       2
21   F       student     55414       2
                                    ..
27   M       lawyer      47130       1
             marketing   11217       1
                         19382       1
             other       30350       1
73   M       retired     37771       1
Length: 936, dtype: int64

### Step 14. Summarize the DataFrame.

In [84]:
# Summarizes dataframe
df.describe()

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

### Step 15. Summarize all the columns

In [85]:
# Summarizes all numerical columns
df.describe(include="all")

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

### Step 16. Summarize only the occupation column

In [86]:
# Summarizes occupation
df.occupation.describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

### Step 17. What is the mean age of df?

In [87]:
# Display mean age
round(df.age.mean())

34

### Step 18. What is the age with least occurrence?

In [88]:
# Display least age occurrence
df.age.value_counts().tail()

7     1
66    1
11    1
10    1
73    1
Name: age, dtype: int64